@import-normalize;
/* bring in normalize.css styles */

body {
  background-color: rgb(243, 243, 243);
  margin: 0;
  font-family: sans-serif;
  line-height: 1.3;
  font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: #000;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}